@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Eau Clair's Salon</h1>
</div>

<p>@Html.ActionLink("See all stylist options", "Index", "Stylists")</p>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
<p>@Html.ActionLink("Search clients", "Search", "Clients")</p>